body {
    padding: 0;
    margin: 0;
}

.marginer {
    margin-left: 32%;
}

.navbar {
    background: #191722;
}
.navbar-brand {
    color: #6afcfc !important;
}
header nav .nav-link {
    color: #fff !important;
    margin-right: 15px;
}
.navbar-nav .active {
    color: #6afcfc !important;
}

header nav .nav-link:hover {
    color: #ffd000 !important;
}

.navbar button {
    background-color: #fff;
}

.new {
    color: rgb(184, 28, 28);
}


#particles-js {
    position: relative;
    width: 100%;
    height: 75%;
}
.intro-content {
    position: absolute;
    padding-top: 10%;
    left: 20%;
}

.main-intro-section {
    background: #100e17;
}
.intro-heading {
    font-size: 50px;
    color: white;
}
.intro-heading-2 {
    color: rgb(126, 126, 126);
}
.intro-parag {
    color: #2f7a28;
}
.main-intro-section .contact-sub i{
    color: white;
}
.main-intro-section .contact-sub i:hover{
    color: rgb(28, 150, 28);
}
.main-intro-section .contact-sub a:hover{
    text-decoration: none;
}

.main-intro-section .contact-social {
    padding-top: 7px;
}
.main-intro-section .contact-social .fa-facebook {
    color: #3b5998;
}
.main-intro-section .contact-social .fa-twitter {
    color: #00acee;
}
.main-intro-section .contact-social .fa-instagram {
    color: #3f103b
}
.main-intro-section .contact-social .fa-github {
    color: rgb(109, 107, 107)
}



.avatar {
    width: 350px;
    margin-left: 20%;
}

#sidenav {
    display: none;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 10px;
    background: #eee;
    overflow: hidden;
    padding: 8px 0;
    border: 1px solid #ffffff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-animation: fadeout 1s;
        -moz-animation: fadeout 1s; /* Firefox < 16 */
        -ms-animation: fadeout 1s; /* Internet Explorer */
            -o-animation: fadeout 1s; /* Opera < 12.1 */
            animation: fadeout 1s;
}
#sidenav.active {
    display: block;
    width: 55px;
    -webkit-animation: fadein 1s;
        -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
            -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
#sidenav.activesecond {
    display: block;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    border: 0px solid #ffffff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-animation: fadeout 2s;
        -moz-animation: fadeout 2s; /* Firefox < 16 */
        -ms-animation: fadeout 2s; /* Internet Explorer */
            -o-animation: fadeout 2s; /* Opera < 12.1 */
            animation: fadeout 2s;
}

#sidenav .logo {
    text-align: center;
}
.logo img {
    width: 70%;
    margin-bottom: 10px;
}
#sidenav .menu {
    text-align: center;
}
#sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}
#sidenav a:hover {
    color: #064579;
}
#sidenav a.active {
    background: #064579;
    color: #eee;
    border: 1px solid #064579;
    border-radius: 10px;
}



.aboutMe-section {
    color: #fff;
    padding-top: 5%;
    padding-bottom: 16%;
}
.about-heading {
    color: #2196f3;
}
.aboutMe-section .about-desc {
    padding-right: 150px;
    margin-top: 3%;
}

.aboutMe-section .about-img {
    margin-left: 15%;
}
.aboutMe-section .about-edu {
    padding-top: 7%;
}
.aboutMe-section .about-uni {
    font-style: italic;
}


.work-section {
    padding: 5%;
    background: #100e17;
    padding-bottom: 15%;
}
.work-section .work-heading {
    text-align: center;
    margin-bottom: 70px;
    color: #2196F3;
}
.work-section .card-img-top {
    width: 30px;
    margin-left: 5%;
    margin-top: 10%;
}
.work-section .row .shadow-1 {
    /* -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.work-section .row .card {
    min-height: 350px;
}

.skills-section {
    color: white;
    background: #3512b3;
    padding-top: 20%;
    padding-bottom: 18%;
}
.skills-section .skills-heading {
    padding-bottom: 5%;
}


.projects-section {
    background: #434346;
    padding: 9%;
}
.projects-section .project-heading {
    text-align: center;
    color: #2196F3;
    padding-bottom: 5%;
}
.projects-section .row .card {
    color: rgb(207, 202, 202);
    background: #0d3311;
    /* -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.projects-section .row .card .card-top-img {
    width: auto;
    height: 100px;
}

@media screen and (max-width: 425px) {
    #particles-js {
        position: relative;
        width: 100%;
        height: 350px;
    }
    .intro-content {
        position: absolute;
        padding-top: 10%;
        left: 7%;
    }
    
    .main-intro-section {
        background: #100e17;
    }
    .intro {
        z-index: 1;
        margin-top: 0%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        padding: 10px 0;
    }
    .intro-heading {
        font-size: 27px;
    }
    .intro-heading-2 {
        color: rgb(126, 126, 126);
        font-size: 20px;
    }
    .intro-parag {
        font-size: 14px;
    }  
    .main-intro-section .intro-content hr {
        width: 50% !important;
        padding-left: 50%;
        margin-bottom: 0;
    }
    .main-intro-section .contact-sub {
        font-size: 14px;
        padding-bottom: 0 !important;
    }
    .contact-sub i {
        padding: 6px !important;
    }
    .main-intro-section .contact-social {
        padding-top: 2px;
        font-size: 11px;
    }
    .main-intro-section .contact-social .fa-facebook {
        color: #3b5998;
    }
    .main-intro-section .contact-social .fa-twitter {
        color: #00acee;
    }
    .main-intro-section .contact-social .fa-instagram {
        color: #3f103b
    }
    .main-intro-section .contact-social .fa-github {
        color: rgb(109, 107, 107)
    }
    
    .avatar {
        width: 100px;
        margin-left: 68%;
        margin-top: -117%;
        z-index: 99;
    }
    
    
    .aboutMe-section {
        color: #fff;
        padding-top: 5%;
        padding-bottom: 16%;
    }
    .about-heading {
        color: #2196f3;
    }
    .aboutMe-section .about-desc {
        padding-right: 150px;
        margin-top: 3%;
    }
    
    .aboutMe-section .about-img {
        margin-left: 15%;
    }
    .aboutMe-section .about-edu {
        padding-top: 7%;
    }
    .aboutMe-section .about-uni {
        font-style: italic;
    }
    
    
    .work-section {
        padding: 5%;
        background: #100e17;
        padding-bottom: 15%;
    }
    .work-section .work-heading {
        text-align: center;
        margin-bottom: 70px;
        color: #2196F3;
    }
    .work-section .card-img-top {
        width: 30px;
        margin-left: 5%;
        margin-top: 10%;
    }
    .work-section .row .shadow-1 {
        /* -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }
    .work-section .row .card {
        min-height: 350px;
    }
    
    .skills-section {
        color: white;
        background: #3512b3;
        padding-top: 20%;
        padding-bottom: 18%;
    }
    .skills-section .skills-heading {
        padding-bottom: 5%;
    }
    
    
    .projects-section {
        background: #434346;
        padding: 9%;
    }
    .projects-section .project-heading {
        text-align: center;
        color: #2196F3;
        padding-bottom: 5%;
    }
    .projects-section .row .card {
        color: rgb(207, 202, 202);
        background: #0d3311;
        /* -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }
    .projects-section .row .card .card-top-img {
        width: auto;
        height: 100px;
    }
}

@media screen and (max-width: 320px) {
    #particles-js {
        position: relative;
        width: 100%;
        height: 380px;
    }
    .intro-content {
        position: absolute;
        padding-top: 10%;
        left: 10%;
        right: 10%;
        text-align: center;
    }
    
    .main-intro-section {
        background: #100e17;
    }
    .intro {
        z-index: 1;
        margin-top: 22%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        padding: 10px 0;
    }
    .intro-heading {
        font-size: 27px;
    }
    .intro-heading-2 {
        color: rgb(126, 126, 126);
        font-size: 20px;
    }
    .intro-parag {
        font-size: 14px;
    }  
    .avatar {
        width: 100px;
        margin-left: 0;
        margin-top: -245%;
        z-index: 99;
    }
    .main-intro-section .intro-content hr {
        width: 50% !important;
        padding-left: 50%;
        margin-bottom: 0;
    }
    .main-intro-section .contact-sub {
        font-size: 14px;
        padding-bottom: 0 !important;
    }
    .contact-sub i {
        padding: 6px !important;
    }
    .main-intro-section .contact-social {
        padding-top: 2px;
        font-size: 11px;
    }
    .main-intro-section .contact-social .fa-facebook {
        color: #3b5998;
    }
    .main-intro-section .contact-social .fa-twitter {
        color: #00acee;
    }
    .main-intro-section .contact-social .fa-instagram {
        color: #3f103b
    }
    .main-intro-section .contact-social .fa-github {
        color: rgb(109, 107, 107)
    }
    
    
    
    
    .aboutMe-section {
        color: #fff;
        padding-top: 5%;
        padding-bottom: 16%;
    }
    .about-heading {
        color: #2196f3;
    }
    .aboutMe-section .about-desc {
        padding-right: 150px;
        margin-top: 3%;
    }
    
    .aboutMe-section .about-img {
        margin-left: 15%;
    }
    .aboutMe-section .about-edu {
        padding-top: 7%;
    }
    .aboutMe-section .about-uni {
        font-style: italic;
    }
    
    
    .work-section {
        padding: 5%;
        background: #100e17;
        padding-bottom: 15%;
    }
    .work-section .work-heading {
        text-align: center;
        margin-bottom: 70px;
        color: #2196F3;
    }
    .work-section .card-img-top {
        width: 30px;
        margin-left: 5%;
        margin-top: 10%;
    }
    .work-section .row .shadow-1 {
        /* -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }
    .work-section .row .card {
        min-height: 350px;
    }
    
    .skills-section {
        color: white;
        background: #3512b3;
        padding-top: 20%;
        padding-bottom: 18%;
    }
    .skills-section .skills-heading {
        padding-bottom: 5%;
    }
    
    
    .projects-section {
        background: #434346;
        padding: 9%;
    }
    .projects-section .project-heading {
        text-align: center;
        color: #2196F3;
        padding-bottom: 5%;
    }
    .projects-section .row .card {
        color: rgb(207, 202, 202);
        background: #0d3311;
        /* -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }
    .projects-section .row .card .card-top-img {
        width: auto;
        height: 100px;
    }
}